<!DOCTYPE html>
<html>
    <%- include('partials/head') %>
    <body>

    <%- include('partials/nav') %>        
        <div class="row">
            <div class="col-1">

            </div>
            <div class="col-10">
                <iframe style="width:100%; height:90vh;" src="<%=link%>"></iframe>
            </div>
            <div class="col-1">

            </div>
        </div>
    </body>
</html>

